body {
  font-family: "Baloo Bhai 2", cursive;
  font-style: bold;
  color: aliceblue;
  margin: 0px;
  padding: 0px;
  background-image: linear-gradient(rgba(10, 0, 0, 0.76), rgba(10, 0, 0, 0.75)),
    url(Chest\ Workout.png);
}
.right {
  margin-left: 10px;
  padding-right: 10px;
  float: right;
  display: inline-block;
}
.left {
  float: left;
  display: inline-block;
}
#logo {
  display: inline;
  height: 10%;
  margin-left: 10px;
  width: 100px;
  filter: invert(100%);
}
.mid {
  display: block;
  width: 37%;
  height: 33%;
  margin: auto;
}
.mid li {
  float: left;
  padding: 4px;
  margin: auto;
  list-style: none;
}
.mid li a {
  padding: 3px 3px;
  font-style: bold;
  color: aliceblue;
  margin-left: 30px;
  text-decoration: none;
  transition: 0.5s;
}
.mid li a:hover,
.mid li a.active {
  color: rgb(126, 42, 42);
  text-decoration: underline;
}
.btn {
  font-family: "Baloo Bhai 2", cursive;
  height: 25px;
  width: 150px;
  border: 1px solid white;
  padding: 2px 0;
  text-align: center;
  border-radius: 5px;
  font-weight: bold;
  color: white;
  background: rgba(0, 0, 0, 0.623);
  transition: 0.5s;
}
.btn:hover {
  background-color: rgb(126, 42, 42);
}
.container {
  background-color: rgba(0, 0, 0, 0.541);
  font-family: "Trochut", cursive;
  border: 1px solid white;
  margin-top: 130px;
  margin-left: 30px;
  border-radius: 50px;
  padding-left: 20px;
  padding-top: 30px;
  height: 500px;
  width: 50%;
}
.form-group {
  display: block;
  width: 500px;

  margin-top: 10px;
  text-align: center;
}

.container div input {
  display: block;
  font-size: 20px;
  border-radius: 10px;
  text-align: center;
  width: 500px;
  margin-left: 93px;
  height: 30px;
}
.box {
  margin-top: 70px;
}
.btn1 {
  display: block;
  background-color: rgba(240, 248, 255, 0.007);
  margin-top: 10px;
  font-size: 20px;
  font-family: "Libre Baskerville", serif;
  border-radius: 10px;
  text-align: center;
  color: white;
  width: 500px;
  margin-left: 93px;
  height: 30px;
  transition: 0.5s;
}
.btn1:hover {
  background-color: rgb(126, 42, 42);
}
.container h1 {
  margin-left: 93px;
}
